@import "tailwindcss";
@layer base{
    @font-face {
        font-family: 'victor-medium';
        src: url('/fonts/VictorMono-Medium.woff2') format('woff2');
    }
    @font-face {
        font-family: 'victor-regular';
        src: url('/fonts/VictorMono-Regular.woff2') format('woff2');
    }
}



.special-div {
    width: 200px;
    height: 200px;
    box-shadow:
    inset 60px 450px 1000px #050301,
     inset -60px -450px 1000px #373534;
    transition: box-shadow 0.5s ease-in;
  }
  

  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
  }
  
  .hover-underline-animation.left::after {
    transform-origin: bottom right;
  }
  
  .hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
  }

  





  .learn-tab:before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    opacity: 30%;
    bottom: 0;
    transition: height 0.3s ease-out;
    background: linear-gradient(to bottom, transparent 0%, rgb(164, 161, 161) 100%);
  }
  .learn-tab:hover:before {
    height: 70%;
  }


  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
@layer utilities {

    .item-nav {
        @apply  w-[25%] py-5 h-full flex  items-center justify-center bg-transparent text-white  ;
      }

    .confess-tab{
        @apply absolute left-[50%] transform translate-x-[-50%] translate-y-[-15%]  text-center;
    }
    

    .learn-tab{
      @apply w-[80%] mx-auto md:mx-0 my-2   md:w-[25%] h-[250px] md:h-[500px] bg-[#1a1919] flex flex-col items-center justify-center rounded-md relative
      
    }
    .stories-tab{
      @apply w-[80%] mx-auto md:mx-0 mt-4   md:w-[23%] min-h-[500px] md:h-[500px] bg-[#1a1919] flex flex-col   rounded-md relative
      
    }
    .donate-tab{
      @apply  w-[90%] md:w-[30%] text-white text-[10em] px-4 flex items-center justify-center bg-[#616060] mx-auto rounded-3xl drop-shadow-2xl;
    }
    .donate-options-container{
      @apply w-[90%] md:w-[30%] text-white  mt-10  h-[100px] flex p-3  items-center justify-between bg-[#616060] mx-auto rounded-3xl drop-shadow-2xl;
    }
    .donate-options{
      @apply   bg-[#1a1919] p-3 w-[30%]  text-center text-[1.2em] rounded-2xl drop-shadow-lg hover:bg-white hover:text-[#616060] transition-all duration-300 ; 
    }
    .donate-button{
      @apply  w-[90%] md:w-[30%] text-[1a1919] text-[2em] px-4 flex items-center justify-center bg-[#616060] mx-auto mt-10 rounded-3xl drop-shadow-2xl;
    }
}


@theme {
    --font-victor-medium: victor-medium, sans-serif;
    --font-victor-regular: victor-regular, sans-serif;
  
  
}

